# 03-sql.ipynb

1. 데이터베이스에서 사용 가능한 테이블과 스키마 가져오기.
1. 질문과 관련된 테이블을 LLM이 결정
1. 해당 테이블의 스키마 확인하기.
1. 질문과 스키마의 정보를 기반으로 쿼리를 생성.
1. LLM을 사용하여 흔히 발생하는 오류가 있는지 SQL 확인.
1. DB에서 SQL을 실행하고 결과를 확인.
1. DB에서 에러 발생시, 수정 후 다시 확인
1. DB 결과를 바탕으로 LLM이 답변 생성

In [2]:
# %pip install langgraph
# %pip install sqlalchemy
# %pip install psycopg2-binary  -- PostgreSQL 데이터베이스에 Python으로 연결할 때 필요한 드라이버

In [3]:
from dotenv import load_dotenv

load_dotenv()

True

In [4]:
# https://docs.langchain.com/oss/python/langchain/sql-agent

from langchain_community.utilities import SQLDatabase
import os

DB_URI = os.getenv('DB_URI')

db = SQLDatabase.from_uri(DB_URI)

# DB 연결 잘 되었는지 DB 테이블 목록 보기
print(db.get_usable_table_names())
# DB table
print(db.get_table_info())
print(db.dialect)
print(db.run('SELECT * FROM sales LIMIT 5;'))

/Users/kimsiyeon/Desktop/gaida-2/.venv/lib/python3.14/site-packages/langchain_core/_api/deprecation.py:25: UserWarning: Core Pydantic V1 functionality isn't compatible with Python 3.14 or greater.
  from pydantic.v1.fields import FieldInfo as FieldInfoV1

['courses', 'customers', 'dt_demo', 'employees', 'lottery_infos', 'lotto_draws', 'members', 'sales', 'sample', 'students', 'students_courses', 'teams']

CREATE TABLE courses (
	id INTEGER GENERATED ALWAYS AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	name VARCHAR(50),
	classroom VARCHAR(20),
	CONSTRAINT courses_pkey PRIMARY KEY (id)
)

/*
3 rows from courses table:
id	name	classroom
1	MySQL 데이터베이스	A관 101호
2	PostgreSQL 고급	B관 203호
3	데이터 분석	A관 704호
*/


CREATE TABLE customers (
	customer_id VARCHAR(10) NOT NULL,
	customer_name VARCHAR(50) NOT NULL,
	customer_type VARCHAR(20) NOT NULL,
	join_date DATE NOT NULL,
	CONSTRAINT customers_pkey PRIMARY KEY (customer_id)
)

/*
3 rows from customers table:
customer_id	customer_name	customer_type	join_date
C001	김민수	VIP	2023-04-25
C002	이지은	개인	2023-10-09
C003	박서준	개인	2023-08-17
*/


CREATE TABLE dt_demo (
	id INTEGER GENERATED ALWAYS AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	name VARCHAR(20) NOT NULL,
	nickname VARCHAR(20),
	birth DATE,
	score DOUBLE PRECISION,
	salary NUMERIC(20, 3),
	description TEXT,
	is_active BOOLEAN DEFAULT true,
	created_at TIMESTAMP WITHOUT TIME ZONE DEFAULT CURRENT_TIMESTAMP,
	CONSTRAINT dt_demo_pkey PRIMARY KEY (id)
)

/*
3 rows from dt_demo table:
id	name	nickname	birth	score	salary	description	is_active	created_at
1	김철수	kim	1995-01-01	88.75	3500000.000	우수한 학생입니다.	True	2026-01-13 14:43:50.821552
2	이영희	lee	1990-05-15	92.3	4200000.889	성실하고 열심히 공부합니다.	True	2026-01-13 14:43:50.821552
3	박민수	park	1988-09-09	75.8	2800000.750	기타 사항 없음	True	2026-01-13 14:43:50.821552
*/


CREATE TABLE employees (
	id SERIAL NOT NULL,
	name VARCHAR(100) NOT NULL,
	email VARCHAR(150) NOT NULL,
	team_id INTEGER NOT NULL,
	CONSTRAINT employees_pkey PRIMARY KEY (id),
	CONSTRAINT fk_team FOREIGN KEY(team_id) REFERENCES teams (id) ON DELETE CASCADE,
	CONSTRAINT employees_email_key UNIQUE NULLS DISTINCT (email)
)

/*
3 rows from employees table:
id	name	email	team_id
1	김백엔드1	backend1@company.com	1
2	김백엔드2	backend2@company.com	1
3	김백엔드3	backend3@company.com	1
*/


CREATE TABLE lottery_infos (
	round_num INTEGER NOT NULL,
	drwtno1 INTEGER,
	drwtno2 INTEGER,
	drwtno3 INTEGER,
	drwtno4 INTEGER,
	drwtno5 INTEGER,
	drwtno6 INTEGER,
	bnsno INTEGER,
	drwnodate DATE,
	rnk1_num INTEGER,
	rnk1_amt BIGINT,
	rnk2_num INTEGER,
	rnk2_amt BIGINT,
	CONSTRAINT lottery_infos_pkey PRIMARY KEY (round_num)
)

/*
3 rows from lottery_infos table:
round_num	drwtno1	drwtno2	drwtno3	drwtno4	drwtno5	drwtno6	bnsno	drwnodate	rnk1_num	rnk1_amt	rnk2_num	rnk2_amt
1207	10	22	24	27	38	45	11	2026-01-17	17	29464450133	86	4910741728
1206	1	3	17	26	27	42	23	2026-01-10	15	28032105000	74	4672017528
1178	5	6	11	27	43	44	17	2025-06-28	12	28699300884	89	4783216890
*/


CREATE TABLE lotto_draws (
	draw_round INTEGER NOT NULL,
	win_num_1 INTEGER NOT NULL,
	win_num_2 INTEGER NOT NULL,
	win_num_3 INTEGER NOT NULL,
	win_num_4 INTEGER NOT NULL,
	win_num_5 INTEGER NOT NULL,
	win_num_6 INTEGER NOT NULL,
	bonus_num INTEGER NOT NULL,
	draw_date DATE NOT NULL,
	first_prize_winners INTEGER NOT NULL,
	first_prize_amount BIGINT NOT NULL,
	second_prize_winners INTEGER NOT NULL,
	second_prize_amount BIGINT NOT NULL,
	CONSTRAINT lotto_draws_pkey PRIMARY KEY (draw_round)
)

/*
3 rows from lotto_draws table:
draw_round	win_num_1	win_num_2	win_num_3	win_num_4	win_num_5	win_num_6	bonus_num	draw_date	first_prize_winners	first_prize_amount	second_prize_winners	second_prize_amount

*/


CREATE TABLE members (
	id INTEGER GENERATED ALWAYS AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	name VARCHAR(30) NOT NULL,
	email VARCHAR(100),
	age INTEGER DEFAULT 10,
	join_date DATE DEFAULT CURRENT_DATE,
	juso VARCHAR(50) DEFAULT ''::character varying NOT NULL,
	CONSTRAINT members_pkey PRIMARY KEY (id),
	CONSTRAINT members_email_key UNIQUE NULLS DISTINCT (email)
)

/*
3 rows from members table:
id	name	email	age	join_date	juso
1	김시연	sikumdev@gmail.com	30	2026-01-12
8	홍길동	gildong@example.com	28	2026-01-12
3	윤찬영	None	21	2026-01-12
*/


CREATE TABLE sales (
	id INTEGER NOT NULL,
	order_date DATE NOT NULL,
	customer_id VARCHAR(10) NOT NULL,
	product_id VARCHAR(10) NOT NULL,
	product_name VARCHAR(50) NOT NULL,
	category VARCHAR(20) NOT NULL,
	quantity INTEGER NOT NULL,
	unit_price INTEGER NOT NULL,
	total_amount INTEGER NOT NULL,
	sales_rep VARCHAR(30) NOT NULL,
	region VARCHAR(20) NOT NULL,
	CONSTRAINT sales_pkey PRIMARY KEY (id)
)

/*
3 rows from sales table:
id	order_date	customer_id	product_id	product_name	category	quantity	unit_price	total_amount	sales_rep	region
1	2024-01-17	C021	P2084	과자	식품	7	9480	66360	정동훈	대구
2	2024-04-18	C042	P8517	음료수	식품	5	2584	12920	이영희	부산
3	2024-10-14	C035	P8019	청소기	생활용품	10	254700	2547000	박민수	부산
*/


CREATE TABLE sample (
	name VARCHAR(30),
	age INTEGER
)

/*
3 rows from sample table:
name	age

*/


CREATE TABLE students (
	id INTEGER GENERATED ALWAYS AS IDENTITY (INCREMENT BY 1 START WITH 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 NO CYCLE),
	name VARCHAR(20),
	CONSTRAINT students_pkey PRIMARY KEY (id)
)

/*
3 rows from students table:
id	name
1	김학생
2	이학생
3	박학생
*/


CREATE TABLE students_courses (
	student_id INTEGER NOT NULL,
	course_id INTEGER NOT NULL,
	grade VARCHAR(5),
	CONSTRAINT students_courses_pkey PRIMARY KEY (student_id, course_id),
	CONSTRAINT students_courses_course_id_fkey FOREIGN KEY(course_id) REFERENCES courses (id),
	CONSTRAINT students_courses_student_id_fkey FOREIGN KEY(student_id) REFERENCES students (id)
)

/*
3 rows from students_courses table:
student_id	course_id	grade
1	1	A
1	2	B+
1	3	A-
*/


CREATE TABLE teams (
	id SERIAL NOT NULL,
	name VARCHAR(100) NOT NULL,
	CONSTRAINT teams_pkey PRIMARY KEY (id),
	CONSTRAINT teams_name_key UNIQUE NULLS DISTINCT (name)
)

/*
3 rows from teams table:
id	name
1	Backend
2	Frontend
3	Data
*/
postgresql
[(1, datetime.date(2024, 1, 17), 'C021', 'P2084', '과자', '식품', 7, 9480, 66360, '정동훈', '대구'), (2, datetime.date(2024, 4, 18), 'C042', 'P8517', '음료수', '식품', 5, 2584, 12920, '이영희', '부산'), (3, datetime.date(2024, 10, 14), 'C035', 'P8019', '청소기', '생활용품', 10, 254700, 2547000, '박민수', '부산'), (4, datetime.date(2024, 3, 11), 'C033', 'P1771', '쌀', '식품', 4, 35008, 140032, '이영희', '인천'), (5, datetime.date(2024, 11, 1), 'C005', 'P8668', '음료수', '식품', 17, 2529, 42993, '정동훈', '서울')]

In [5]:
# LLM 초기화
from langchain_openai import ChatOpenAI
model = ChatOpenAI(name = 'gpt-4.1-mini')

In [6]:
# Agent 용 Tool 만들기
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=model)

# toolkit.get_tools()는 Agent가 DB와 상호작용하는 데 필요한 tool들을 한번에 묶어서 제공하는 것 -> 여러가지가 있고 리스트 형태임 
# toolkit.get_tools()

# for tool in toolkit.get_tools():
#     print(tool.name, tool.description)

for tool in toolkit.get_tools():
    print(tool.name)

sql_db_query
sql_db_schema
sql_db_list_tables
sql_db_query_checker

In [7]:
# Agent 만들기
from langchain.agents import create_agent

# 어떤 DB 사용 하는지 알 수 있는 메서드
dialect = db.dialect

top_k = 5

system_prompt = f"""
You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run,
then look at the results of the query and return the answer. Unless the user
specifies a specific number of examples they wish to obtain, always limit your
query to at most {top_k} results.

You can order the results by a relevant column to return the most interesting
examples in the database. Never query for all the columns from a specific table,
only ask for the relevant columns given the question.

You MUST double check your query before executing it. If you get an error while
executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the
database.

To start you should ALWAYS look at the tables in the database to see what you
can query. Do NOT skip this step.

Then you should query the schema of the most relevant tables.
"""

In [8]:
from langchain.agents.middleware import HumanInTheLoopMiddleware
from langgraph.checkpoint.memory import InMemorySaver

# sql_db_query 하기 전에 humanintheloop -> 승인 받고 다시 돌아가서 멈춘 시점부터 그 다음 테스크를 해야해서 체크 포인트를 저장할 메모리 필요!
agent = create_agent(
    model, 
    toolkit.get_tools(),
    system_prompt=system_prompt,
    middleware =[
        HumanInTheLoopMiddleware(
            interrupt_on ={'sql_db_query': True},
            description_prefix ='Tool 실행 전에 승인을 기다림'
        )
    ],
    checkpointer = InMemorySaver() # 일시 정지 - 재실행에서 돌아갈 곳을 기억해야함!
    )

In [ ]:
from langgraph.types import Command 


question = '2월에 가장 많이 팔린 항목 3가지 알려줘'

config = {'configurable': {'thread_id': '12345'}}

for event in agent.stream(
    {'messages':[{'role':'user','content':question}]}, 
    stream_mode ='values', 
    config = config
):
    if "__interrupt__" in event: 
        print("INTERRUPTED:") 
        interrupt = event["__interrupt__"][0] 
        for request in interrupt.value["action_requests"]: 
            print(request["description"]) 
    elif "messages" in event:
        event["messages"][-1].pretty_print()
    else:
        pass

# 에이전트한테 질문을 보내고 실행시킨다

# 실행되는 매 단계마다 반복:
#     만약 "인터럽트"가 걸렸으면:
#         → "INTERRUPTED!" 출력
#         → 어떤 툴이 승인 대기 중인지 설명 출력
#         → (여기서 자연스럽게 멈춤)
    
#     만약 "메시지"가 있으면:
#         → 가장 마지막 메시지를 예쁘게 출력
    
#     그 외:
#         → 아무것도 안 함 (패스)

print('-----------------------------------------------------------------')

for step in agent.stream(
    Command(resume={"decisions": [{"type": "approve"}]}), 
    config,
    stream_mode="values",
):
    if "messages" in step:
        step["messages"][-1].pretty_print()
    elif "__interrupt__" in step:
        print("INTERRUPTED:")
        interrupt = step["__interrupt__"][0]
        for request in interrupt.value["action_requests"]:
            print(request["description"])
    else:
        pass

# 에이전트한테 "승인했어, 계속 해" 라고 보낸다

# 멈췄던 시점부터 이어서 매 단계마다 반복:
#     만약 "메시지"가 있으면:
#         → 가장 마지막 메시지를 예쁘게 출력
    
#     만약 또 "인터럽트"가 걸리면:
#         → "INTERRUPTED!" 출력
#         → 설명 출력
#         → (또 멈춤)
    
#     그 외:
#         → 아무것도 안 함 (패스)

================================ Human Message =================================

2월에 가장 많이 팔린 항목 3가지 알려줘
================================== Ai Message ==================================
Tool Calls:
  sql_db_list_tables (call_PwyEZNDNPTaQTJt1TcptWSil)
 Call ID: call_PwyEZNDNPTaQTJt1TcptWSil
  Args:
================================= Tool Message =================================
Name: sql_db_list_tables

courses, customers, dt_demo, employees, lottery_infos, lotto_draws, members, sales, sample, students, students_courses, teams
================================== Ai Message ==================================
Tool Calls:
  sql_db_schema (call_hbsM0Rgb9U1WD1GaO7VtSN9N)
 Call ID: call_hbsM0Rgb9U1WD1GaO7VtSN9N
  Args:
    table_names: sales
================================= Tool Message =================================
Name: sql_db_schema


CREATE TABLE sales (
	id INTEGER NOT NULL,
	order_date DATE NOT NULL,
	customer_id VARCHAR(10) NOT NULL,
	product_id VARCHAR(10) NOT NULL,
	product_name VARCHAR(50) NOT NULL,
	category VARCHAR(20) NOT NULL,
	quantity INTEGER NOT NULL,
	unit_price INTEGER NOT NULL,
	total_amount INTEGER NOT NULL,
	sales_rep VARCHAR(30) NOT NULL,
	region VARCHAR(20) NOT NULL,
	CONSTRAINT sales_pkey PRIMARY KEY (id)
)

/*
3 rows from sales table:
id	order_date	customer_id	product_id	product_name	category	quantity	unit_price	total_amount	sales_rep	region
1	2024-01-17	C021	P2084	과자	식품	7	9480	66360	정동훈	대구
2	2024-04-18	C042	P8517	음료수	식품	5	2584	12920	이영희	부산
3	2024-10-14	C035	P8019	청소기	생활용품	10	254700	2547000	박민수	부산
*/
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_4dyUBDpVCUjn8MP0vKDgi6Np)
 Call ID: call_4dyUBDpVCUjn8MP0vKDgi6Np
  Args:
    query: SELECT product_name, SUM(quantity) AS total_quantity FROM sales WHERE EXTRACT(MONTH FROM order_date) = 2 GROUP BY product_name ORDER BY total_quantity DESC LIMIT 3
INTERRUPTED:
Tool 실행 전에 승인을 기다림

Tool: sql_db_query
Args: {'query': 'SELECT product_name, SUM(quantity) AS total_quantity FROM sales WHERE EXTRACT(MONTH FROM order_date) = 2 GROUP BY product_name ORDER BY total_quantity DESC LIMIT 3'}
-----------------------------------------------------------------
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_4dyUBDpVCUjn8MP0vKDgi6Np)
 Call ID: call_4dyUBDpVCUjn8MP0vKDgi6Np
  Args:
    query: SELECT product_name, SUM(quantity) AS total_quantity FROM sales WHERE EXTRACT(MONTH FROM order_date) = 2 GROUP BY product_name ORDER BY total_quantity DESC LIMIT 3
================================== Ai Message ==================================
Tool Calls:
  sql_db_query (call_4dyUBDpVCUjn8MP0vKDgi6Np)
 Call ID: call_4dyUBDpVCUjn8MP0vKDgi6Np
  Args:
    query: SELECT product_name, SUM(quantity) AS total_quantity FROM sales WHERE EXTRACT(MONTH FROM order_date) = 2 GROUP BY product_name ORDER BY total_quantity DESC LIMIT 3
================================= Tool Message =================================
Name: sql_db_query

[('라면', 19), ('수건', 10), ('운동화', 9)]
================================== Ai Message ==================================

2월에 가장 많이 팔린 항목 3가지는 다음과 같습니다:
1. 라면: 총 19개 판매
2. 수건: 총 10개 판매
3. 운동화: 총 9개 판매
Feel free to ask if you have any more questions!

In [11]:
# question = '전체 평균 매출액과, 가장 구매를 많이한 순서대로 손님의 이름 3명을 알려줘'

# for event in agent.stream(
#     {'messages':[{'role':'user','content':question}]}, stream_mode='values'
# ):
#     event['messages'][-1].pretty_print()

In [15]:
# agent.get_graph().print_ascii()

print(agent.get_graph().draw_mermaid())
print(agent.get_graph().nodes)

---
config:
  flowchart:
    curve: linear
---
graph TD;
	__start__([<p>__start__</p>]):::first
	model(model)
	tools(tools)
	HumanInTheLoopMiddleware\2eafter_model(HumanInTheLoopMiddleware.after_model)
	__end__([<p>__end__</p>]):::last
	HumanInTheLoopMiddleware\2eafter_model -.-> __end__;
	HumanInTheLoopMiddleware\2eafter_model -.-> model;
	HumanInTheLoopMiddleware\2eafter_model -.-> tools;
	__start__ --> model;
	model --> HumanInTheLoopMiddleware\2eafter_model;
	tools -.-> model;
	classDef default fill:#f2f0ff,line-height:1.2
	classDef first fill-opacity:0
	classDef last fill:#bfb6fc

{'__start__': Node(id='__start__', name='__start__', data=RunnableCallable(tags=None, recurse=True, explode_args=False, func_accepts={}), metadata=None), 'model': Node(id='model', name='model', data=model_node(tags=None, recurse=True, explode_args=False, func_accepts={'runtime': ('N/A', <class 'inspect._empty'>)}), metadata=None), 'tools': Node(id='tools', name='tools', data=tools(tags=None, recurse=True, explode_args=False, func_accepts={'config': ('N/A', <class 'inspect._empty'>), 'runtime': ('N/A', <class 'inspect._empty'>)}, _tools_by_name={'sql_db_query': QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x105ee6660>), 'sql_db_schema': InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x105ee6660>), 'sql_db_list_tables': ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x105ee6660>), 'sql_db_query_checker': QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x105ee6660>, llm=ChatOpenAI(name='gpt-4.1-mini', profile={'max_input_tokens': 16385, 'max_output_tokens': 4096, 'text_inputs': True, 'image_inputs': False, 'audio_inputs': False, 'video_inputs': False, 'text_outputs': True, 'image_outputs': False, 'audio_outputs': False, 'video_outputs': False, 'reasoning_output': False, 'tool_calling': False, 'structured_output': False, 'image_url_inputs': False, 'pdf_inputs': False, 'pdf_tool_message': False, 'image_tool_message': False, 'tool_choice': True}, client=<openai.resources.chat.completions.completions.Completions object at 0x138029940>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x13802a3c0>, root_client=<openai.OpenAI object at 0x11f417230>, root_async_client=<openai.AsyncOpenAI object at 0x13802a120>, model_kwargs={}, openai_api_key=SecretStr('**********'), stream_usage=True), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(name='gpt-4.1-mini', profile={'max_input_tokens': 16385, 'max_output_tokens': 4096, 'text_inputs': True, 'image_inputs': False, 'audio_inputs': False, 'video_inputs': False, 'text_outputs': True, 'image_outputs': False, 'audio_outputs': False, 'video_outputs': False, 'reasoning_output': False, 'tool_calling': False, 'structured_output': False, 'image_url_inputs': False, 'pdf_inputs': False, 'pdf_tool_message': False, 'image_tool_message': False, 'tool_choice': True}, client=<openai.resources.chat.completions.completions.Completions object at 0x138029940>, async_client=<openai.resources.chat.completions.completions.AsyncCompletions object at 0x13802a3c0>, root_client=<openai.OpenAI object at 0x11f417230>, root_async_client=<openai.AsyncOpenAI object at 0x13802a120>, model_kwargs={}, openai_api_key=SecretStr('**********'), stream_usage=True), output_parser=StrOutputParser(), llm_kwargs={}))}, _injected_args={'sql_db_query': _InjectedArgs(state={}, store=None, runtime=None), 'sql_db_schema': _InjectedArgs(state={}, store=None, runtime=None), 'sql_db_list_tables': _InjectedArgs(state={}, store=None, runtime=None), 'sql_db_query_checker': _InjectedArgs(state={}, store=None, runtime=None)}, _handle_tool_errors=<function _default_handle_tool_errors at 0x138880d50>, _messages_key='messages', _wrap_tool_call=None, _awrap_tool_call=None), metadata=None), 'HumanInTheLoopMiddleware.after_model': Node(id='HumanInTheLoopMiddleware.after_model', name='HumanInTheLoopMiddleware.after_model', data=after_model(tags=None, recurse=True, explode_args=False, func_accepts={'runtime': ('N/A', <class 'inspect._empty'>)}), metadata=None), '__end__': Node(id='__end__', name='__end__', data=None, metadata=None)}