# 03_container.ipynb
- 데이터 여러개를 한번에 저장하는 공간

# 리스트(List)

In [ ]:
numbers = [10,20,30,40,50]

# index 는 0부터 (리스트 길이 -1)까지
numbers[0]
numbers[2]
# -1 ~ -리스트길이
numbers[-1]
numbers[-2]

# 불가능 (인덱스 범위 잘못된)
# numbers[5]
# numbers[-6]

40

In [ ]:
# 슬라이싱 [x:y] -> x부터 y전까지 (x이상 y미만)
numbers[0:3] # 인덱스 0~2까지
numbers[1:1] # 인덱스 비어있음

numbers[0:5] # 인덱스 0~4 -> 전체
numbers[:3]  # 비어있음 : 끝부터
numbers[2:]  # 비어있음 : 끝까지
numbers[:]   # 전체

# 값은 같다 -> True
numbers == numbers[:]  

# 같은 존재냐? -> False
numbers is numbers[:]

False

In [129]:
# 리스트 수정
numbers = [10,20,30,40,50]

# 특정 index의 데이터 바꾸기 (순서는 먼저 index 선택 후 할당 연산자를 통해 값 재할당)
numbers[2] = 300
numbers[-1] = 500
print(numbers)

# 리스트에 데이터 추가하기 
numbers.append(60)
print(numbers)

# 리스트의 데이터 삭제하기
numbers.pop(-1)
print(numbers)

[10, 20, 300, 40, 500]
[10, 20, 300, 40, 500, 60]
[10, 20, 300, 40, 500]

# 범위 (Range)

In [ ]:
# range 는 처음부터 마지막-1 까지의 정수만을 의미
r1 = range(1,10)
r1
# 눈으로 보려면, 리스트로 바꿔줘야 함
print(list(r1))

# range는 정수만 포함함
print(2.4 in r1)

# 시작 숫자 x -> 0부터 시작
r2 = range(5)
print(list(r2))

# step 개념
r3 = range(0,10,2)
print(list(r3))

# 음수 step(뒤로 가기) -> 시작, 끝, 방향 + 스텝
r4 = range(0,5,-1)
print(list(r4))

r5 = range(5,0,-1)
print(list(r5))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
False
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]
[]
[5, 4, 3, 2, 1]

range(0, 5)

## Dict (딕셔너리)
-- key - Value

- JSON 의 뜻은 JavaScript Object Notation 의 줄임말
    - [JS언어의 object 자료형 식 표기법] ("써야함)
- Python 에는 Dict 자료형

In [136]:
# 생성
me ={
    'name' : 'neo',
    'age' : 20,
    'is_hungry': True,
    'height' : 123.4,
    'skills': ['python','sql','n8n'],
}

print(me)

{'name': 'neo', 'age': 20, 'is_hungry': True, 'height': 123.4, 'skills': ['python', 'sql', 'n8n']}

In [ ]:
# 접근 -> 대괄호 안에 key를 쓴다.
me['name'] , me['age']

# 'python'에 접근해보기
me['skills'][0]

'python'

In [134]:
# Value 변경 
me['name'] = 'sikum'
print(me)

me['is_hungry'] = False
print(me)

print(type(me))
print(type(me['skills']))

# me['skills']
me['skills'].append('git')
print(me)

me['skills'].pop(-1)
me

{'name': 'sikum', 'age': 20, 'is_hungry': False, 'skills': ['python', 'sql', 'n8n'], 'money': 10000}
{'name': 'sikum', 'age': 20, 'is_hungry': False, 'skills': ['python', 'sql', 'n8n'], 'money': 10000}
<class 'dict'>
<class 'list'>
{'name': 'sikum', 'age': 20, 'is_hungry': False, 'skills': ['python', 'sql', 'n8n', 'git'], 'money': 10000}

{'name': 'sikum',
 'age': 20,
 'is_hungry': False,
 'skills': ['python', 'sql', 'n8n'],
 'money': 10000}

In [137]:
# K-V 추가
me['money'] = 10000
me

# K-V 삭제
me.pop('height')
me

{'name': 'neo',
 'age': 20,
 'is_hungry': True,
 'skills': ['python', 'sql', 'n8n'],
 'money': 10000}

## Set(집합)
- 중복되는 요소가 없다.
- 순서(index)가 없다.

In [121]:
s1 = {1,1,1,2,3,3,3}
s2 ={3,4,5,5}
s1
s2
s1,s2

# 합집합
print(s1|s2)
# 교집합
print(s1 & s2)
# 차집합
print(s1 - s2)

# s1[0] 이런거 없음 -> 이렇게 접근 불가

# 대신 필요한 요소만 가져오고 싶으면 리스트로 변환해서 쓰기 가능
list(s1)

# 중복이 많은 리스트에서 중복을 제거하는 용도 많이 쓰임
ll = [1,1,1,1,1,2,2,2,2,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5]
print(ll)
ss = set(ll) # 순서는 없다
print(ss)
ll=list(ss) # 리스트로 바뀌었을 때의 순서는 의미 없음
ll.sort()
print(ll)

{1, 2, 3, 4, 5}
{3}
{1, 2}
[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

## Tuple (튜플)
- 리스트 친척
- 순서(index)가 있음
- 리스트와의 차이 : 수정 불가
- 직접 쓰기보단 python 내부에서 많이 쓰임

In [ ]:
t = (10,20,30,40,50)

# 접근 가능
print(t[0], t[0:3], [-1])

50

In [ ]:
# 수정 불가능
# t[0] = 100
# t.append()
# t.pop()